body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.standar-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #1c6bcb;
    font-size: 24px;
}

.standar-image img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 5px;
}
